<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	th:replace="layout/base::layout(~{::body})">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="'Home Page'">Index Page</title>
</head>

<body>
	<div>
		<section class="pb-4 pt-1 bg-600">
			<div class="container">
				<div class="row">
					<h1 class="my-4">No Agents, No Consultants, Just Opportunities</h1>
					<ul class="list-unstyled">
						<li class="mb-3"><i class="fas fa-check text-info me-2"></i><strong>At
								Bright Medical Homemakers,</strong>&nbsp;we are neither consultants nor
							agents. We stand apart by offering direct connections to top
							medical universities without any consultancy fees. Our mission is
							to make education accessible and stress-free, allowing you to
							focus on your future without worrying about upfront costs.</li>
						<li class="mb-3"><i class="fas fa-check text-info me-2"></i><strong>Our
								transparent process ensures</strong>&nbsp; that you only make payments
							after arriving at your chosen university. This unique approach
							makes us the first company to offer such a service, guaranteeing
							a seamless transition to your medical career abroad.</li>
						<li class="mb-3"><i class="fas fa-check text-info me-2"></i><strong>Join
								us and experience</strong>&nbsp; a new way of pursuing your medical
							education with comprehensive support at every stage.</li>
					</ul>
					<h1 class="my-2">Your Gateway to Medical Education Abroad</h1>
					<p>At Bright Medical Homemakers, we are dedicated to realizing
						your dream of becoming a doctor abroad. We are not just
						consultants; we are your partners in success, committed to
						connecting you directly to your dream university without any
						consultancy fees.</p>
					<p>You pay nothing until you join your university, ensuring a
						risk-free journey towards your medical career abroad. Our
						pioneering approach eliminates consultation charges, making us the
						first in the industry to offer this unique service.</p>
					<p>But that's not all! We provide comprehensive support at
						every step, ensuring your success in achieving your medical
						aspirations abroad.</p>
					<p>Join Bright Medical Homemakers today and take the first step
						towards your medical career abroad. Your dream university is just
						a connection away.</p>
					<h1 class="my-2">Your Dream University Awaits</h1>
					<p>Bright Medical Homemakers is dedicated to helping you
						achieve your dream of studying medicine abroad. With no
						consultancy fees and a commitment to supporting you throughout
						your journey, we ensure that your focus remains on your education
						and career.</p>
					<p>Our unique approach allows you to make payments only after
						you have joined your university, offering you a risk-free pathway
						to success. We are the first in the industry to provide such a
						service, emphasizing our dedication to student success and
						support.</p>
					<p>Join us today and connect with your dream university, taking
						the first step towards a rewarding medical career abroad.</p>
				</div>
			</div>
			<!-- end of .container-->
		</section>
	</div>

</body>
</html>