<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	th:replace="layout/base::layout(~{::body})">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="'Home Page'">Index Page</title>
</head>

<body>
	<div>
		<section class="pb-4 pt-1 bg-600">
			<div class="container">
				<div class="row">
					<h1 class="my-4">Our Services at BM²</h1>
					<ul>
						<li>Comprehensive admission support, ensuring a seamless
							application process from start to finish.</li>
						<li>Assistance with visa applications and travel
							arrangements, making your journey hassle-free.</li>
						<li>FMGE/NEXT coaching classes to help you excel in your
							medical licensing exams.</li>
					</ul>

					<h1 class="my-4">MBBS Abroad Admission Process</h1>
					<p>While each country has its own set of rules and eligibility
						criteria for international students wanting to pursue MBBS abroad,
						we'll discuss general eligibility guidelines for Indian students.</p>
					<h2>Academic Requirements</h2>
					<ul>
						<li>The student must have completed 10+2 from a recognized
							board.</li>
						<li>Minimum aggregate of 50% in Physics, Chemistry, and
							Biology with English as a compulsory subject.</li>
						<li>Qualification in the National Eligibility-cum-Entrance
							Test (NEET) is mandatory.</li>
						<li>Students must provide an Eligibility Certificate at the
							time of admission.</li>
					</ul>
					<h2>Medical Requirements</h2>
					<p>Students need a medical certificate confirming they are free
						from contagious diseases.</p>
					<h2>Application Process</h2>
					<p>Once eligibility criteria are met, students proceed with:</p>
					<ul>
						<li>Selecting a preferred university</li>
						<li>Filling out the online international student application
							form</li>
						<li>Submitting required documents including academic
							transcripts, passport, language proficiency certificates, proof
							of funds, and more.</li>
					</ul>
					<h2>Exams Required</h2>
					<p>Indian students must pass NEET. Depending on university
						requirements, English proficiency tests like TOEFL, IELTS, PTE, or
						OET may also be necessary.</p>
					<p>Upon submission, applicants receive an admission letter and
						proceed with obtaining a Student Visa.</p>
				</div>
			</div>
			<!-- end of .container-->
		</section>
	</div>

</body>
</html>