<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	th:replace="layout/base::layout(~{::body})">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="'Home Page'">Index Page</title>
</head>
<body>
	<div>
		<section class="pt-2 bg-600" id="home">
			<div class="container">
				<div class="row">
					<div class="card card-span bg-secondary">
						<div class="card-body">
							<div class="row flex-center gx-0">
								<h1 class="text-light fs-lg-3 fs-xl-4">"We are not a
									consultancy, nor are we agents. We are dedicated to helping
									students who dream of becoming doctors abroad."</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ============================================-->
		<!-- <section> begin ============================-->
		<section class="py-0" style="margin-top: -5.8rem">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-5 col-lg-6 order-0 order-md-1 text-end">
						<img class="pt-7 pt-md-0 w-100"
							src="assets/img/gallery/doctor.jpg" width="470" alt="hero-header" />
					</div>

					<div class="col-md-7 col-lg-6 text-md-start text-center py-6">
						<h4 class="fw-bold font-sans-serif">Become Doctor</h4>
						<h1 class="fs-5 fs-xl-6 mb-4">Connecting Students to
							Universities Worldwide, Absolutely Free!</h1>
						<!-- <a class="btn btn-primary me-2" th:href="enquire-form"
							role="button">Get A Quote</a> --> 
						<a class="btn btn-primary me-2" th:href="@{https://api.whatsapp.com/send/?phone=%2B917292975458&text&type=phone_number&app_absent=0}"
							role="button">Get A Quote</a> 
							<a
							class="btn btn-outline-secondary" th:href="about-us"
							role="button">Read more</a>
					</div>

				</div>
			</div>

			<!-- end of .container-->
		</section>
		<!-- <section> close ============================-->
		<!-- ============================================-->
		<!-- ============================================-->
		<!-- <section> begin ============================-->
		<section>

			<div class="container">
				<div class="row">
					<h1 class="text-center mb-5">Top Featured Colleges</h1>
					<div class="col-md-4 mb-4">
						<div class="card h-100">
							<img class="card-img-top w-100"
								src="assets/img/gallery/jalal.jpg" alt="courses"
								style="width: 200px; height: 300px;" />

							<div class="card-body">
								<h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">Jalal-Abad
									State University</h5>
								<a class="text-muted fs--1 stretched-link text-decoration-none"
									href="#!">Kyrgyzstan</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-4">
						<div class="card h-100">
							<img class="card-img-top w-100"
								src="assets/img/gallery/state.jpg"
								style="width: 200px; height: 300px;" alt="courses" />
							<div class="card-body">
								<h5 class="font-sans-serif fw-bold  fs-lg-0">Smolensk State
									Medical University</h5>
								<a class="text-muted fs--1 stretched-link text-decoration-none"
									href="#!">Russia</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-4">
						<div class="card h-100">
							<img class="card-img-top w-100" src="assets/img/gallery/tuj.jpg"
								style="width: 200px; height: 300px;" alt="courses" />
							<div class="card-body">
								<h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">Tashkent
									medical academy</h5>
								<a class="text-muted fs--1 stretched-link text-decoration-none"
									href="#!">Uzbekistan</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of .container-->

		</section>
		<!-- <section> close ============================-->
		<!-- ============================================-->

		<!-- ============================================-->
		<!-- <section> begin ============================-->
		<section class="pt-0">

			<div class="container">
				<div class="row h-100 align-items-center">
					<div class="col-md-12 col-lg-6 h-100">
						<div class="card card-span text-white h-100">
							<img class="w-100" src="assets/img/gallery/Aami.jpeg" alt="..." />
							<div class="card-body px-xl-5 px-md-3 pt-0">
								<div class="d-flex flex-column align-items-center bg-200"
									style="margin-top: -2.4rem;">
									<h5 class="mt-3 mb-0">Amina Sraj</h5>
									<p class="text-muted">MBBS</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-6 h-100">
						<h1 class="my-4">
							Successful Student<br /> <span class="text-primary">Feedback</span>
						</h1>
						<p>I am thrilled to share my positive experience with Bright
							Medico Maker. Thanks to their exceptional support and guidance, I
							secured a place at Jalalabad State University in Russia for my
							MBBS studies. From start to finish, their team was incredibly
							professional and made the entire process smooth and stress-free.
							Their expertise and dedication are truly commendable. I highly
							recommend Bright Medico Maker to anyone seeking reliable and
							effective help in their educational journey. Thank you for
							helping me achieve my dream of becoming a doctor!</p>
						<div class="mt-6">
							<h5 class="font-sans-serif fw-bold mb-3">The courses that
								Manav has taken</h5>
							<div class="card card-span bg-600">
								<div class="card-body">
									<div class="row flex-center gx-0">
										<div class="col-lg-4 col-xl-3 text-center text-xl-start">
											<img src="assets/img/gallery/jalal.jpg" width="120"
												alt="courses" />
										</div>
										<div class="col-lg-8 col-xl-9">
											<h5 class="font-sans-serif fw-bold">Bachelor of
												Medicine, Bachelor of Surgery</h5>
											<p class="text-muted fs--1">Jalalabad State University</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of .container-->

		</section>
		<!-- <section> close ============================-->
		<!-- ============================================-->
		<section>
			<div class="bg-holder"
				style="background-image: url(assets/img/gallery/funfacts-2-bg.png); background-position: center; background-size: cover;">
			</div>
			<!--/.bg-holder-->

			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-3 text-center mb-5">
						<img src="assets/img/gallery/admission.png" height="100" alt="..." />
						<h1 class="my-2">3589+</h1>
						<p class="text-info fw-bold">ADMISSION TAKEN</p>
					</div>
					<div class="col-sm-6 col-lg-3 text-center mb-5">
						<img src="assets/img/gallery/college.png" height="100" alt="..." />
						<h1 class="my-2">64+</h1>
						<p class="text-info fw-bold">COLLEGES</p>
					</div>
					<div class="col-sm-6 col-lg-3 text-center mb-5">
						<img src="assets/img/gallery/country.png" height="100" alt="..." />
						<h1 class="my-2">12+</h1>
						<p class="text-info fw-bold">Countries</p>
					</div>
					<div class="col-sm-6 col-lg-3 text-center mb-5">
						<img src="assets/img/gallery/Scholarship.png" height="100"
							alt="..." />
						<h1 class="my-2">15+</h1>
						<p class="text-info fw-bold">Scholarship</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>