<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	th:replace="layout/base::layout(~{::body})">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="'Home Page'">Index Page</title>
</head>

<body>
	<div>
		<section class="pb-2 pt-2 bg-600">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<h3 class="my-2 text-center">Enquiry Form</h3>
						<form>
							<div class="mb-2">
								<label for="name" class="form-label">Name</label> <input
									type="text" class="form-control" id="name" required>
							</div>
							<div class="mb-2">
								<label for="email" class="form-label">Email-ID</label> <input
									type="email" class="form-control" id="email" required>
							</div>
							<div class="mb-2">
								<label for="contact" class="form-label">Contact Number</label>
								<div class="input-group">
									<select class="form-select small-box" id="countryCode" required>
										<option value="+91">+91 (India)</option>
										<option value="+996" selected>+996 (Kyrgyzstan)</option>
										<option value="+998">+998 (Uzbekistan)</option>
										<option value="+7">+7 (Russia)</option>
										<option value="+86">+86 (China)</option>
										<option value="+374">+374 (Armenia)</option>
										<option value="+63">+63 (Philippines)</option>
										<option value="+63">Other</option>
									</select> <input type="tel" class="form-control large-box" id="contact"
										placeholder="Contact Number" required>
								</div>
							</div>
							<div class="mb-2">
								<label for="course" class="form-label">Course</label> <select
									class="form-control" id="course" required>
									<option value="">Select Course</option>
									<option value="mbbs">MBBS</option>
									<option value="nursing">B.Sc Nursing</option>
									<option value="md">MD</option>
								</select>
							</div>
							<div class="mb-2">
								<label for="country" class="form-label">Country</label> <select
									class="form-control" id="country" required>
									<option value="">Select Country</option>
									<option value="Kyrgyzstan">Kyrgyzstan</option>
									<option value="Uzbekistan">Uzbekistan</option>
									<option value="Russia">Russia</option>
									<option value="China">China</option>
									<option value="Armenia">Armenia</option>
									<option value="Philippines">Philippines</option>
									<option value="Philippines">Other</option>
								</select>
							</div>
							<button type="submit" class="btn btn-primary btn-block">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>

</body>
</html>
